# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.pyo

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal

# Django migrations
*/migrations/*

# If you are using Django's static file handling:
staticfiles/
static/

# Media files
media/

# Local environment settings
.env
.env.*

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db